<!DOCTYPE html>
<html lang="pl"
      th:lang="${lang}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Panel użytkownika</title>
</head>
<body>
<h1 th:text="${welcomeMessage}">Hello John!</h1>
<!-- Wersja z sec:authorize -->
<a sec:authorize="isAuthenticated()"
   th:text="|Wyloguj się ${#authentication.name}|"
   th:href="@{/logout}">Wyloguj się John</a>
<!-- Wersja z th:if -->
<!--    <a th:if="${#authentication.isAuthenticated()}"-->
<!--       th:text="|Wyloguj się ${#authentication.name}|"-->
<!--       th:href="@{/logout}">Wyloguj się John</a>-->
<h2>Zmień hasło</h2>
<form th:action="@{/change-password}" method="post">
    <input type="password" name="newPassword" placeholder="Nowe hasło">
    <button type="submit">Zmień</button>
</form>



</body>
</html>